{
  "openapi": "3.0.0",
  "info": {
    "title": "Open Politica API",
    "version": "0.1.0",
    "description": "API para obtener información de los candidatos a elecciones de Perú. Fecha de actualización: N/A",
    "license": {
      "name": "Apache 2.0",
      "url": "https://spdx.org/licenses/Apache-2.0.html"
    },
    "contact": {
      "name": "OpenPolitica",
      "url": "https://openpolitica.com",
      "email": "hola@openpolitica.com"
    }
  },
  "servers": [
    {
      "url": "https://api.openpolitica.com",
      "description": "Production Server"
    },
    { "url": "http://localhost:3000", "description": "Development Server" }
  ],
  "paths": {
    "/candidates": {
      "get": {
        "summary": "Returns a list of candidates.",
        "description": "Returns a list of candidates. Accepts 'page' and 'limit' as query parameters",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number in integer - Default is 1",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of entries to return per page - Default is no limit",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sentencias",
            "description": "tiene sentencias true/false",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "vacancia",
            "description": "votó vacancia true/false",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "parties",
            "description": "Political Party",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACCION POPULAR",
                  "ALIANZA PARA EL PROGRESO",
                  "AVANZA PAIS - PARTIDO DE INTEGRACION SOCIAL",
                  "DEMOCRACIA DIRECTA",
                  "EL FRENTE AMPLIO POR JUSTICIA, VIDA Y LIBERTAD",
                  "FRENTE POPULAR AGRICOLA FIA DEL PERU - FREPAP",
                  "FUERZA POPULAR",
                  "JUNTOS POR EL PERU",
                  "PARTIDO APRISTA PERUANO",
                  "PARTIDO DEMOCRATICO SOMOS PERU",
                  "PARTIDO MORADO",
                  "PARTIDO POLÍTICO CONTIGO",
                  "PARTIDO POPULAR CRISTIANO - PPC",
                  "PERU LIBRE",
                  "PERU NACION",
                  "PERU PATRIA SEGURA",
                  "PODEMOS PERU",
                  "RENACIMIENTO UNIDO NACIONAL",
                  "RENOVACION POPULAR",
                  "UNION POR EL PERU",
                  "VAMOS PERU"
                ]
              }
            },
            "required": false
          },
          {
            "in": "query",
            "name": "role",
            "description": "Candidate Role",
            "schema": {
              "type": "string",
              "enum": [
                "PRESIDENTE",
                "PRIMER VICEPRESIDENTE",
                "SEGUNDO VICEPRESIDENTE",
                "CONGRESISTA"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "region",
            "description": "Candidate Region",
            "schema": {
              "type": "string",
              "enum": [
                "TUMBES",
                "PIURA",
                "LAMBAYEQUE",
                "LA LIBERTAD",
                "ANCASH",
                "LIMA",
                "LIMA PROVINCIAS",
                "ICA",
                "AREQUIPA",
                "MOQUEGUA",
                "TACNA",
                "CAJAMARCA",
                "HUANUCO",
                "PASCO",
                "JUNIN",
                "HUANCAVELICA",
                "AYACUCHO",
                "APURIMAC",
                "CUSCO",
                "PUNO",
                "LORETO",
                "AMAZONAS",
                "SAN MARTIN",
                "MADRE DE DIOS",
                "UCAYALI",
                "PERUANOS RESIDENTES EN EL EXTRANJERO",
                "CALLAO"
              ]
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/hoja_vida_id/{hoja_vida_id}": {
      "get": {
        "summary": "Returns a single candidate by 'Hoja Vida ID'.",
        "description": "Returns a single candidate by 'Hoja Vida ID'.",
        "parameters": [
          {
            "in": "path",
            "name": "hoja_vida_id",
            "description": "JNE - hoja_vida_id",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/id_dni/{id_dni}": {
      "get": {
        "summary": "Returns a single candidate by 'DNI'.",
        "description": "Returns a single candidate by 'DNI'.",
        "parameters": [
          {
            "in": "path",
            "name": "id_dni",
            "description": "JNE - id_dni.string",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/createHash": {
      "post": {
        "summary": "Returns an encoded hash",
        "description": "Returns an encoded hash according to a given array of hoja_vida_id (numbers)",
        "requestBody": {
          "description": "List of candidates on an array",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "example": {
                "candidates": [134165, 134166, 134169, 134173, 134180]
              }
            }
          }
        },
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/sharedList/{hash}": {
      "get": {
        "summary": "Returns a list of candidates based on the deencrypted array of hoja_vida_id keys.",
        "description": "Returns a list of candidates from hash decryption",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "description": "Encoded hash from backend",
            "schema": {
              "type": "string"
            },
            "required": false,
            "example": "NoRgzALCBsCsA04rWoyMCcaoHYzZAA4AGAXSA"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
