{
  "openapi": "3.0.0",
  "info": {
    "title": "Open Politica API",
    "version": "0.1.0",
    "description": "API para obtener información de los candidatos a elecciones de Perú. Fecha de actualización: N/A",
    "license": {
      "name": "Apache 2.0",
      "url": "https://spdx.org/licenses/Apache-2.0.html"
    },
    "contact": {
      "name": "OpenPolitica",
      "url": "https://openpolitica.com",
      "email": "hola@openpolitica.com"
    }
  },
  "servers": [
    { "url": "https://tip.magiqapps.com", "description": "Production Server" },
    { "url": "http://localhost:3000", "description": "Development Server" }
  ],
  "paths": {
    "/candidates": {
      "get": {
        "summary": "Returns a list of candidates.",
        "description": "Returns a list of candidates. Accepts 'page' and 'limit' as query parameters",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number in integer - Default is 1",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of entries to return - Default is 10",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "party",
            "description": "Political Party",
            "schema": {
              "type": "string",
              "enum": [
                "ACCION POPULAR",
                "ALIANZA PARA EL PROGRESO",
                "AVANZA PAIS - PARTIDO DE INTEGRACION SOCIAL",
                "DEMOCRACIA DIRECTA",
                "EL FRENTE AMPLIO POR JUSTICIA, VIDA Y LIBERTAD",
                "FRENTE POPULAR AGRICOLA FIA DEL PERU - FREPAP",
                "FUERZA POPULAR",
                "JUNTOS POR EL PERU",
                "PARTIDO APRISTA PERUANO",
                "PARTIDO DEMOCRATICO SOMOS PERU",
                "PARTIDO MORADO",
                "PARTIDO POLÍTICO CONTIGO",
                "PARTIDO POPULAR CRISTIANO - PPC",
                "PERU LIBRE",
                "PERU NACION",
                "PERU PATRIA SEGURA",
                "PODEMOS PERU",
                "RENACIMIENTO UNIDO NACIONAL",
                "RENOVACION POPULAR",
                "UNION POR EL PERU",
                "VAMOS PERU"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "role",
            "description": "Candidate Role",
            "schema": {
              "type": "string",
              "enum": [
                "CONGRESISTA DE LA REPÚBLICA",
                "PRESIDENTE DE LA REPÚBLICA",
                "PRIMER VICEPRESIDENTE DE LA REPÚBLICA",
                "SEGUNDO VICEPRESIDENTE DE LA REPÚBLICA"
              ]
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/{id}": {
      "get": {
        "summary": "Returns a single candidate by database ID.",
        "description": "Returns a single candidate by database ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID assigned by database",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/hoja_vida_id/{hoja_vida_id}": {
      "get": {
        "summary": "Returns a single candidate by 'Hoja Vida ID'.",
        "description": "Returns a single candidate by 'Hoja Vida ID'.",
        "parameters": [
          {
            "in": "path",
            "name": "hoja_vida_id",
            "description": "JNE - hoja_vida_id",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/id_dni/{id_dni}": {
      "get": {
        "summary": "Returns a single candidate by 'DNI'.",
        "description": "Returns a single candidate by 'DNI'.",
        "parameters": [
          {
            "in": "path",
            "name": "id_dni",
            "description": "JNE - id_dni.string",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
