{
  "openapi": "3.0.0",
  "info": {
    "title": "Open Politica API",
    "version": "0.1.0",
    "description": "API para obtener información de los candidatos a elecciones de Perú. Fecha de actualización: N/A",
    "license": {
      "name": "Apache 2.0",
      "url": "https://spdx.org/licenses/Apache-2.0.html"
    },
    "contact": {
      "name": "OpenPolitica",
      "url": "https://openpolitica.com",
      "email": "hola@openpolitica.com"
    }
  },
  "servers": [
    {
      "url": "https://api.openpolitica.com",
      "description": "Production Server"
    },
    {
      "url": "https://staging-api.openpolitica.com",
      "description": "Staging Server"
    },
    { "url": "http://localhost:3000", "description": "Development Server" }
  ],
  "paths": {
    "/candidates": {
      "get": {
        "summary": "Returns a list of candidates.",
        "description": "Returns a list of candidates. Accepts 'page' and 'limit' as query parameters",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Page number in integer - Default is 1",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of entries to return per page - Default is no limit",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sentencias",
            "description": "tiene sentencias true/false",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "vacancia",
            "description": "votó vacancia true/false",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "parties",
            "description": "Political Party",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACCION POPULAR",
                  "ALIANZA PARA EL PROGRESO",
                  "AVANZA PAIS - PARTIDO DE INTEGRACION SOCIAL",
                  "DEMOCRACIA DIRECTA",
                  "EL FRENTE AMPLIO POR JUSTICIA, VIDA Y LIBERTAD",
                  "FRENTE POPULAR AGRICOLA FIA DEL PERU - FREPAP",
                  "FUERZA POPULAR",
                  "JUNTOS POR EL PERU",
                  "PARTIDO APRISTA PERUANO",
                  "PARTIDO DEMOCRATICO SOMOS PERU",
                  "PARTIDO MORADO",
                  "PARTIDO POLÍTICO CONTIGO",
                  "PARTIDO POPULAR CRISTIANO - PPC",
                  "PERU LIBRE",
                  "PERU NACION",
                  "PERU PATRIA SEGURA",
                  "PODEMOS PERU",
                  "RENACIMIENTO UNIDO NACIONAL",
                  "RENOVACION POPULAR",
                  "UNION POR EL PERU",
                  "VAMOS PERU"
                ]
              }
            },
            "required": false
          },
          {
            "in": "query",
            "name": "role",
            "description": "Candidate Role",
            "schema": {
              "type": "string",
              "enum": [
                "PRESIDENTE",
                "PRIMER VICEPRESIDENTE",
                "SEGUNDO VICEPRESIDENTE",
                "CONGRESISTA",
                "PARLAMENTO ANDINO"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "region",
            "description": "Candidate Region",
            "schema": {
              "type": "string",
              "enum": [
                "TUMBES",
                "PIURA",
                "LAMBAYEQUE",
                "LA LIBERTAD",
                "ANCASH",
                "LIMA",
                "LIMA PROVINCIAS",
                "ICA",
                "AREQUIPA",
                "MOQUEGUA",
                "TACNA",
                "CAJAMARCA",
                "HUANUCO",
                "PASCO",
                "JUNIN",
                "HUANCAVELICA",
                "AYACUCHO",
                "APURIMAC",
                "CUSCO",
                "PUNO",
                "LORETO",
                "AMAZONAS",
                "SAN MARTIN",
                "MADRE DE DIOS",
                "UCAYALI",
                "PERUANOS RESIDENTES EN EL EXTRANJERO",
                "CALLAO"
              ]
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/hoja_vida_id/{hoja_vida_id}": {
      "get": {
        "summary": "Returns a single candidate by 'Hoja Vida ID'.",
        "description": "Returns a single candidate by 'Hoja Vida ID'.",
        "parameters": [
          {
            "in": "path",
            "name": "hoja_vida_id",
            "description": "JNE - hoja_vida_id",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/id_dni/{id_dni}": {
      "get": {
        "summary": "Returns a single candidate by 'DNI'.",
        "description": "Returns a single candidate by 'DNI'.",
        "parameters": [
          {
            "in": "path",
            "name": "id_dni",
            "description": "JNE - id_dni.string",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/candidates/count": {
      "get": {
        "summary": "Returns candidates count.",
        "description": "Returns candidates count, filtered by role if desired",
        "parameters": [
          {
            "in": "query",
            "name": "role",
            "description": "Candidate Role",
            "schema": {
              "type": "string",
              "enum": [
                "PRESIDENTE",
                "PRIMER VICEPRESIDENTE",
                "SEGUNDO VICEPRESIDENTE",
                "CONGRESISTA"
              ]
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/locations": {
      "get": {
        "summary": "Returns all locations.",
        "description": "Returns all location names by electoral district",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/locations/{location}/seats": {
      "get": {
        "summary": "Returns seats per location.",
        "description": "Returns available seats per location name",
        "parameters": [
          {
            "in": "path",
            "name": "location",
            "description": "Location by electoral district name",
            "schema": {
              "type": "string",
              "enum": [
                "TUMBES",
                "PIURA",
                "LAMBAYEQUE",
                "LA LIBERTAD",
                "ANCASH",
                "LIMA",
                "LIMA PROVINCIAS",
                "ICA",
                "AREQUIPA",
                "MOQUEGUA",
                "TACNA",
                "CAJAMARCA",
                "HUANUCO",
                "PASCO",
                "JUNIN",
                "HUANCAVELICA",
                "AYACUCHO",
                "APURIMAC",
                "CUSCO",
                "PUNO",
                "LORETO",
                "AMAZONAS",
                "SAN MARTIN",
                "MADRE DE DIOS",
                "UCAYALI",
                "PERUANOS RESIDENTES EN EL EXTRANJERO",
                "CALLAO"
              ]
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/parties/dirtylists": {
      "get": {
        "summary": "Returns lists with sanctions.",
        "description": "Returns lists with sanctions, can be filter by party and/or region",
        "parameters": [
          {
            "in": "query",
            "name": "region",
            "description": "Location by electoral district name",
            "schema": {
              "type": "string",
              "enum": [
                "TUMBES",
                "PIURA",
                "LAMBAYEQUE",
                "LA LIBERTAD",
                "ANCASH",
                "LIMA",
                "LIMA PROVINCIAS",
                "ICA",
                "AREQUIPA",
                "MOQUEGUA",
                "TACNA",
                "CAJAMARCA",
                "HUANUCO",
                "PASCO",
                "JUNIN",
                "HUANCAVELICA",
                "AYACUCHO",
                "APURIMAC",
                "CUSCO",
                "PUNO",
                "LORETO",
                "AMAZONAS",
                "SAN MARTIN",
                "MADRE DE DIOS",
                "UCAYALI",
                "PERUANOS RESIDENTES EN EL EXTRANJERO",
                "CALLAO"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "party",
            "description": "Political Party",
            "schema": {
              "type": "string",
              "enum": [
                "ACCION POPULAR",
                "ALIANZA PARA EL PROGRESO",
                "AVANZA PAIS - PARTIDO DE INTEGRACION SOCIAL",
                "DEMOCRACIA DIRECTA",
                "EL FRENTE AMPLIO POR JUSTICIA, VIDA Y LIBERTAD",
                "FRENTE POPULAR AGRICOLA FIA DEL PERU - FREPAP",
                "FUERZA POPULAR",
                "JUNTOS POR EL PERU",
                "PARTIDO APRISTA PERUANO",
                "PARTIDO DEMOCRATICO SOMOS PERU",
                "PARTIDO MORADO",
                "PARTIDO POLÍTICO CONTIGO",
                "PARTIDO POPULAR CRISTIANO - PPC",
                "PERU LIBRE",
                "PERU NACION",
                "PERU PATRIA SEGURA",
                "PODEMOS PERU",
                "RENACIMIENTO UNIDO NACIONAL",
                "RENOVACION POPULAR",
                "UNION POR EL PERU",
                "VAMOS PERU",
                "VICTORIA NACIONAL"
              ]
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/parties/presidential_lists/{party}": {
      "get": {
        "summary": "Returns the list of party leaders by org_politica_nombre",
        "description": "Returns an object with the detail of each leader for a particular party",
        "parameters": [
          {
            "in": "path",
            "name": "party",
            "description": "Party Name - org_politica_nombre",
            "schema": {
              "type": "string",
              "enum": [
                "ACCION POPULAR",
                "ALIANZA PARA EL PROGRESO",
                "AVANZA PAIS - PARTIDO DE INTEGRACION SOCIAL",
                "DEMOCRACIA DIRECTA",
                "EL FRENTE AMPLIO POR JUSTICIA, VIDA Y LIBERTAD",
                "FRENTE POPULAR AGRICOLA FIA DEL PERU - FREPAP",
                "FUERZA POPULAR",
                "JUNTOS POR EL PERU",
                "PARTIDO APRISTA PERUANO",
                "PARTIDO DEMOCRATICO SOMOS PERU",
                "PARTIDO MORADO",
                "PARTIDO POLÍTICO CONTIGO",
                "PARTIDO POPULAR CRISTIANO - PPC",
                "PERU LIBRE",
                "PERU NACION",
                "PERU PATRIA SEGURA",
                "PODEMOS PERU",
                "RENACIMIENTO UNIDO NACIONAL",
                "RENOVACION POPULAR",
                "UNION POR EL PERU",
                "VAMOS PERU"
              ]
            },
            "required": false
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Party Required"
          }
        }
      }
    },
    "/parties/presidential_lists": {
      "get": {
        "summary": "Returns the list of parties",
        "description": "Returns an object with the detail parties",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/policies/topics": {
      "get": {
        "summary": "Returns all topics.",
        "description": "Returns all topic names",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/policies/questions": {
      "get": {
        "summary": "Returns questions per topic.",
        "description": "Returns all questions per topic, requires a set of topics.",
        "parameters": [
          {
            "in": "query",
            "name": "topics",
            "description": "Set of topics",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "education",
                  "health",
                  "governability",
                  "environment",
                  "security",
                  "rights",
                  "growth",
                  "taxes"
                ]
              }
            },
            "required": true
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/policies/results": {
      "post": {
        "summary": "Returns results according to answers",
        "description": "Given a questions-ansewrs mapping, returns compatibility results.",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "requestBody": {
          "description": "questions-answers mapping",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "questionId": {
                      "type": "string"
                    },
                    "answerId": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "answers": [
                  {
                    "questionId": "edu1",
                    "answerId": "a",
                    "answers": null
                  },
                  {
                    "questionId": "edu2",
                    "answerId": null,
                    "answers": ["a", "b"]
                  },
                  {
                    "questionId": "sal1",
                    "answerId": null,
                    "answers": ["a", "c"]
                  },
                  {
                    "questionId": "sal3",
                    "answerId": "a",
                    "answers": null
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "405": {
            "description": "Invalid input"
          },
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}
